body{
  background-color: #29C7AC;
}
HR
{
  border-style: none;
  border-top-style: dotted;
  border-color: YELLOW;
  border-width: 5PX;
  width: 3%;

}
H1
{
  color: #978D58;
}
H2
{
color: #978D58;

}
